{% extends 'layout.html' %}

{% block content %}
  <div id="cont-container">
    <div id="inn-container">
    <p><b><center>Есть предложения или нашли баг?</center></b></p>
    <p>Если у вас есть предложения или вам пришлось встретиться лицом к лицу с багом, или с багами - обращайтесь к разработчикам, мы постараемся исправить.</p>
    <div id="dev">  
      <a class="	far fa-envelope">Akmatov_Az@iuca.kg</a>
      <a class="	far fa-envelope">Zhumabek_uulu_B@iuca.kg</a>
      <a class="	far fa-envelope">Dzholdoshbekov_T@iuca.kg</a>
    </div>
    </div>
  </div>

{% endblock %}