<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename="/css/style.css")}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  </head>
  <body>
    {% include 'navbar.html' %}
    {% block content %} {% endblock %}
    <footer id="footer">
      <div id="inner-footer">
        <p>Zhumabek uulu Baidolot IT-118</p>
      </div>
      <div id="icons">
        <a class="fab fa-instagram" href="https://www.instagram.com/jumabekovbaichik/"></a>
        <a class="fab fa-github" href="https://github.com/Baichik"></a> 
      </div>
      </div>
      <div class="sitemap">
      <div id="sitemap">
       <a href="/">ГЛАВНАЯ</a>
       <a href="/update">ОБНОВЛЕНИЯ</a>
       <a href="/download">СКАЧАТЬ</a>
      </div>
      <div id="inner-sitemap">
       <a href="/contact">СВЯЗАТЬСЯ</a>
       <a href="/feedbacks">КОМЕНТАРИИ</a>
      </div>
      </div>
    </footer>
  </body>
</html>
