{% extends 'layout.html' %}
{% block content %}
  <div id="update-container">
    <div id="inner-container">
      <p><b><center>Обновления</center></b></p>
    <p>Приложение будет обновляться после исправления найденных вами багов или после добавления новых функций. Однако, после обновления приложение придется скачивать заново, так как приложение не будет зарегистрировано в Play Market.</p>

    </div>
    <table>
    <tr>
      <th>Текущая версия</th>
      <th>Статус</th>
    </tr>
    <tr>
    <td>1.0</td>
    <td>Релиз</td>
  </tr>
  <tr>
    <td>1.0.1</td>
    <td>Глобальное обновление (подробнее на телеграмм канале)</td> 
  </tr>
    </table>
  </div>
{% endblock %}